.vscode/**
.vscode-test/**
src/**
**/*.map
**/tsconfig.json
**/tsconfig.*.json
.gitignore
.gitattributes
.git/**
package-lock.json
docs/**
*.png
*.vsix
out/test/**
out/presetManagerPanel.js
out/types.js
out/lib/**
node_modules/**
.vscode-test-user-data/**
eslint.config.mjs
